<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Consulta para Usuarios STARSOFT</name>
    <description>
        Consulta para Usuarios STARSOFT.
    </description>
    <author email="publicidad@starsoft.com.pe" href="http://www.starsoft.com.pe">
        www.starsoft.com.pe
    </author>
    <content src="index.html"/>
    <icon src="icon.png" />
    <access origin="*" />
</widget>
